@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    min-height: 100vh;
    transition:
      color 0.3s,
      background-color 0.3s;
    background-color: #f5f6f8;
    color: #1a1a1a;
  }

  .dark body {
    background-color: #1a1a1a;
    color: #f5f6f8;
  }
}
